<section class="user-section">
    <div class="card">

      <div>
        <div class="post-header">
          <h2>Post # <%= @post.id %> by: <%= @user.name%></h2>
          <ul class="unordered-list likes-comments">
            <li>Likes: <%= @post.likes.count %></li>
            <li>Comments: <%= @post.comments.count %></li>
          </ul>
        </div>
        <p><%= @post.text %></p>
      </div>

      <ul class="unordered-list comments-list comments-list-show">
        <% @post.comments.each do |comment| %>
          <li><%= comment.user.name %>: <%= comment.text %></li>
        <% end %>
      </ul>
    </div>
